html {
    font-family: "Poppins", sans-serif;
}

html {
    background: #13151E;
}

::-webkit-scrollbar {
    width: 8px;
    background: #13151E;
}

::-webkit-scrollbar-track {
    background: #13151E;
}

::-webkit-scrollbar-thumb {
    background-color: #F54D89;
}